In [2]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [3]:
idades = [39, 30, 27, 18]
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 27, 18]

In [7]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [8]:
idades.append(15)
idades

[39, 30, 27, 18, 15]

In [9]:
idades[4]

15

In [10]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [11]:
idades.remove(30)
idades

[39, 27, 18, 15]

In [12]:
#idades.remove(30) Erro ao não ter o elemento na lista

In [13]:
idades.append(15)
idades

[39, 27, 18, 15, 15]

In [14]:
idades.remove(15)
idades

[39, 27, 18, 15]

In [15]:
print(idades)
idades.append(27)
idades.remove(27)
idades

[39, 27, 18, 15]

[39, 18, 15, 27]

In [16]:
"""
idades.remove(39)
idades.remove(18)
idades.remove(15)
idades.remove(27)
"""
idades.clear()
idades

[]

In [17]:
idades = [39, 18, 15, 27]
28 in idades

False

In [18]:
15 in idades

True

In [19]:
if 15 in idades:
    idades.remove(15)
idades

[39, 18, 27]

In [20]:
idades.append(19)
idades

[39, 18, 27, 19]

In [21]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [22]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [23]:
#idades.append(27, 19) Erro na tentativa de inserir dois números na lista, mas o append aceita apenas um argumento

In [24]:
print(idades)
idades.append([27, 19]) #Gambiarra que "funciona"
idades

[20, 39, 18]

[20, 39, 18, [27, 19]]

In [25]:
for elemento in idades:
    print(f"Recebi o elemento {elemento}")

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [26]:
idades = [20, 39, 18]
print(idades)
idades.extend([27, 19])
idades

[20, 39, 18]

[20, 39, 18, 27, 19]

In [27]:
for idade in idades:
    print (idade + 1)

21
40
19
28
20

In [28]:
idade_no_ano_que_vem = []
for idade in idades:
    idade_no_ano_que_vem.append(idade + 1)
idade_no_ano_que_vem

[21, 40, 19, 28, 20]

In [29]:
idade_no_ano_que_vem = [idade + 1 for idade in idades]
idade_no_ano_que_vem

[21, 40, 19, 28, 20]

In [30]:
print([idade for idade in idades if idade > 21])

print(idades)

[39, 27]
[20, 39, 18, 27, 19]

In [31]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [32]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    lista.append(13)

In [33]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
print(idades)

5
[16, 21, 29, 56, 43, 13]

Como uma lista é mutável, ela aceitou no def faz_processamento_de_visualizacao o "lista.append(13)" então como resultado foi uma lista de len 5, mas possuía [16, 21, 29, 56, 43, 13] dentro, logo, sempre que possível, é interessante utilizar tuplas que são imutáveis

In [34]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    print(lista)
    lista.append(13)
    
faz_processamento_de_visualizacao()

0
[]

In [35]:
faz_processamento_de_visualizacao()

1
[13]

In [36]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [37]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [38]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
        
    print(len(lista))
    print(lista)
    lista.append(13)
    
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos própios

In [39]:
class ContaCorrente:
    
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
    
    def deposita(self, valor):
        self.saldo += valor
        
    def __str__(self):
        return f'[>> Código -> {self.codigo} : Saldo R${self.saldo} <<]'

In [40]:
conta_do_vitor = ContaCorrente(25)
print(conta_do_vitor)

[>> Código -> 25 : Saldo R$0 <<]

In [41]:
conta_do_vitor.deposita(500)
print(conta_do_vitor)

[>> Código -> 25 : Saldo R$500 <<]

In [42]:
conta_da_giselle = ContaCorrente(18)
conta_da_giselle.deposita(1000)
print(conta_da_giselle)

[>> Código -> 18 : Saldo R$1000 <<]

In [43]:
contas = [conta_do_vitor, conta_da_giselle]
print(contas)

[<__main__.ContaCorrente object at 0x0000019D4B4DCB30>, <__main__.ContaCorrente object at 0x0000019D4B505100>]

In [44]:
for conta in contas:
    print(conta)

[>> Código -> 25 : Saldo R$500 <<]
[>> Código -> 18 : Saldo R$1000 <<]

In [45]:
contas = [conta_do_vitor, conta_da_giselle, conta_do_vitor]

print(contas[0])

[>> Código -> 25 : Saldo R$500 <<]

In [46]:
conta_do_vitor.deposita(100)
print(contas[0])
print(conta_do_vitor)
print(contas[2])

[>> Código -> 25 : Saldo R$600 <<]
[>> Código -> 25 : Saldo R$600 <<]
[>> Código -> 25 : Saldo R$600 <<]

Só existem dois objetos na memória, mas um deles tem duas referências, o problema é se perder o controle da quantidade de referências a um objeto e

In [47]:
contas[2].deposita(300)
print(conta_do_vitor)

[>> Código -> 25 : Saldo R$900 <<]

In [48]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

contas = [conta_do_vitor, conta_da_giselle]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>> Código -> 25 : Saldo R$900 <<] [>> Código -> 18 : Saldo R$1000 <<]
[>> Código -> 25 : Saldo R$1000 <<] [>> Código -> 18 : Saldo R$1100 <<]

In [49]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>> Código -> 25 : Saldo R$1000 <<] [>> Código -> 18 : Saldo R$1100 <<]

In [50]:
#deposita_para_todas(contas)  Ocasiona em erro, pois o contas[0] não possui o método deposita, o item não possui o padrão do restante como a lista é mutável.
# print(contas[0], contas[1], contas[2])

In [51]:
vitor = ('Vitor', 25, 2000) # Tupla é imutável
giselle = ('Giselle', 18, 2004)
# raissa = (15, 'Raissa', 2010) Não vou fazer isso, pois assim eu estou quebrando a minha regra de negócio. O ideal seria até usar uma classe com métodos para ter um padrão

# vitor.append(01) Causa um erro, como é imutável a tupla

In [52]:
conta_do_vitor = (25, 1000)
# conta_do_vitor.deposita(100) Variação Orientação Objeto

conta_do_vitor[1] # Posso visualizar

# conta_do_vitor[1] += 100 Mas não posso alterar a tupla

1000

In [53]:
def deposita(conta): # Variação Funcional (Separa o comportamento dos dados)
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

deposita(conta_do_vitor)

(25, 1100)

In [54]:
conta_do_vitor

(25, 1000)

In [55]:
conta_do_vitor = deposita(conta_do_vitor)
conta_do_vitor

(25, 1100)

In [56]:
usuarios = [vitor, giselle]
usuarios

[('Vitor', 25, 2000), ('Giselle', 18, 2004)]

In [57]:
usuarios.append(('Raissa', 15, 2008))
usuarios # É mutável, mas cada usuário interno é imutável

[('Vitor', 25, 2000), ('Giselle', 18, 2004), ('Raissa', 15, 2008)]

In [58]:
# usuarios[0][0] = 'Vitor Bittencourt'

In [59]:
conta_do_vitor = ContaCorrente(25)
conta_do_vitor.deposita(500)
conta_da_giselle = ContaCorrente(18)
conta_da_giselle.deposita(1000)

contas = (conta_do_vitor, conta_da_giselle)

for conta in contas:
    print(conta)

[>> Código -> 25 : Saldo R$500 <<]
[>> Código -> 18 : Saldo R$1000 <<]

In [60]:
# contas.append(15) Nesta tupla de listas não posso usar o append

In [61]:
contas[0].deposita(300) #Não consigo adicionar mais itens na tupla, mas consigo alterar as listas internas da tupla
print(conta_do_vitor)

[>> Código -> 25 : Saldo R$800 <<]

# Herança e polimorfismo

In [62]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self._saldo += valor
    
    @abstractmethod
    def passa_o_mes(self):
        pass
    
    def __str__(self):
        return f'[>> Código -> {self._codigo} : Saldo R${self._saldo} <<]'

In [63]:
# print(Conta(21)) Agora a class Conta virou um metodo abstrato

In [64]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3
        
class ContaInvestimento(Conta):
    pass

In [65]:
# ContaInvestimento(99) Deixou de funcionar, pois ainda não foi implementado o método passa_o_mes

In [66]:
conta13 = ContaCorrente(13)
conta13.deposita(1000)
conta13.passa_o_mes()
print(conta13)

[>> Código -> 13 : Saldo R$998 <<]

In [67]:
conta18 = ContaPoupanca(18)
conta18.deposita(1000)
conta18.passa_o_mes()
print(conta18)

[>> Código -> 18 : Saldo R$1007.0 <<]

In [68]:
conta13 = ContaCorrente(13)
conta13.deposita(1000)
conta18 = ContaPoupanca(18)
conta18.deposita(1000)
contas = [conta13, conta18]

for conta in contas:
    conta.passa_o_mes() #Duck Typing
    print(conta)

[>> Código -> 13 : Saldo R$998 <<]
[>> Código -> 18 : Saldo R$1007.0 <<]

# Evitaremos usar array puro, se precisamos de trabalho numérico, costume usar o numpy

In [69]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [70]:
# arr.array('d', [1, 'Vitor']) O array d não aceita string com number

In [71]:
# pip install numpy

In [72]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [73]:
numeros + 3

array([4. , 6.5])

In [74]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>> Código -> {self._codigo} : Saldo R${self._saldo} <<]'

class MultiploSalario(ContaSalario):
    pass

In [75]:
conta1 = ContaSalario(26)
print(conta1)

conta2 = ContaSalario(26)
print(conta2)

[>> Código -> 26 : Saldo R$0 <<]
[>> Código -> 26 : Saldo R$0 <<]

In [76]:
conta1 == conta2 # Somente retorna True se forem os dois o mesmo objetos, aqui no caso os dois objetos tem os mesmo valores internos, mas são diferentes. Agora com o __eq__ definido, os resultados mudaram. Se eu executar um deposita em qualquer uma das contas, o saldo será diferente e ai os retultados voltam a divergirem.

True

In [77]:
contas = [conta1]
conta1 in contas

True

In [78]:
conta2 in contas

True

In [79]:
conta3 = ContaSalario(88)
conta4 = ContaCorrente(88)
print(conta3)
print(conta4)

[>> Código -> 88 : Saldo R$0 <<]
[>> Código -> 88 : Saldo R$0 <<]

In [80]:
conta3 == conta4 # False, pois são de tipos diferentes e eu implementei a comparação no __eq__, senão, daria que são iguais pelos valores (codigo e saldo).

False

In [81]:
isinstance(ContaCorrente(88), ContaCorrente)

True

In [82]:
isinstance(ContaCorrente(88), Conta) # Como ContaCorrente é filha de Conta, então retorna True

True

# Built-in

In [83]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
    print(f'Indice {i} : Idade {idades[i]}')

Indice 0 : Idade 15
Indice 1 : Idade 87
Indice 2 : Idade 32
Indice 3 : Idade 65
Indice 4 : Idade 56
Indice 5 : Idade 32
Indice 6 : Idade 49
Indice 7 : Idade 37

In [84]:
range(len(idades)) # Lazy

range(0, 8)

In [85]:
enumerate(idades) # Lazy

In [86]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [87]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [88]:
for valor in enumerate(idades):
    print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [89]:
for indice, idade in enumerate(idades): # Unpacking da tupla
    print(indice, ':', idade)

0 : 15
1 : 87
2 : 32
3 : 65
4 : 56
5 : 32
6 : 49
7 : 37

In [90]:
usuarios = [
    ('Vitor', 25, 2000),
    ('Giselle', 18, 2004),
    ('Raissa', 15, 2008)
]

for nome, idade, nascimento in usuarios: # Já desempacotando
    print(f'Nome {nome} - Idade {idade} - Nascimento {nascimento}')

Nome Vitor - Idade 25 - Nascimento 2000
Nome Giselle - Idade 18 - Nascimento 2004
Nome Raissa - Idade 15 - Nascimento 2008

In [91]:
for nome, _, _ in usuarios: # Já desempacotando e ignorando o que não tenho interesse
    print(f'Nome {nome}')

Nome Vitor
Nome Giselle
Nome Raissa

# Ordenação Natural

In [92]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [94]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [97]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [98]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [99]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [100]:
idades.sort()
idades

[15, 32, 32, 37, 49, 56, 65, 87]

# Ordenação Customizada

In [101]:
nomes = ["Vitor", "Giselle", "raissa"]
sorted(nomes)

['Giselle', 'Vitor', 'raissa']

In [103]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>> Código -> {self._codigo} : Saldo R${self._saldo} <<]'

conta_do_vitor = ContaSalario(24)
conta_do_vitor.deposita(500)

conta_da_giselle = ContaSalario(20)
conta_da_giselle.deposita(1000)

conta_da_raissa = ContaSalario(15)
conta_da_raissa.deposita(510)

contas = [conta_do_vitor, conta_da_giselle, conta_da_raissa]

for conta in contas:
    print(conta)

[>> Código -> 24 : Saldo R$500 <<]
[>> Código -> 20 : Saldo R$1000 <<]
[>> Código -> 15 : Saldo R$510 <<]

In [ ]:
# conta_do_vitor < conta_da_giselle ou sorted(contas) não funcionam, pois não tem uma referência de comparação

In [105]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>> Código -> 24 : Saldo R$500 <<]
[>> Código -> 15 : Saldo R$510 <<]
[>> Código -> 20 : Saldo R$1000 <<]

In [106]:
from operator import attrgetter

for conta in sorted (contas, key=attrgetter("_saldo")):
    print(conta)

[>> Código -> 24 : Saldo R$500 <<]
[>> Código -> 15 : Saldo R$510 <<]
[>> Código -> 20 : Saldo R$1000 <<]

In [108]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>> Código -> {self._codigo} : Saldo R${self._saldo} <<]'
    
conta_do_vitor = ContaSalario(24)
conta_do_vitor.deposita(500)

conta_da_giselle = ContaSalario(20)
conta_da_giselle.deposita(1000)

conta_da_raissa = ContaSalario(15)
conta_da_raissa.deposita(510)

contas = [conta_do_vitor, conta_da_giselle, conta_da_raissa]

conta_do_vitor < conta_da_giselle

True

In [109]:
conta_do_vitor > conta_da_giselle

False

In [110]:
for conta in sorted(contas):
    print(conta)

[>> Código -> 24 : Saldo R$500 <<]
[>> Código -> 15 : Saldo R$510 <<]
[>> Código -> 20 : Saldo R$1000 <<]

In [111]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>> Código -> 20 : Saldo R$1000 <<]
[>> Código -> 15 : Saldo R$510 <<]
[>> Código -> 24 : Saldo R$500 <<]

# Ordenação Total

In [114]:
conta_do_vitor = ContaSalario(100)
conta_do_vitor.deposita(500)

conta_da_giselle = ContaSalario(20)
conta_da_giselle.deposita(500)

conta_da_raissa = ContaSalario(1)
conta_da_raissa.deposita(500)

contas = [conta_do_vitor, conta_da_giselle, conta_da_raissa]

for conta in sorted (contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Código -> 1 : Saldo R$500 <<]
[>> Código -> 20 : Saldo R$500 <<]
[>> Código -> 100 : Saldo R$500 <<]

In [117]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>> Código -> {self._codigo} : Saldo R${self._saldo} <<]'
    
conta_do_vitor = ContaSalario(24)
conta_do_vitor.deposita(500)

conta_da_giselle = ContaSalario(20)
conta_da_giselle.deposita(500)

conta_da_raissa = ContaSalario(15)
conta_da_raissa.deposita(500)

contas = [conta_do_vitor, conta_da_giselle, conta_da_raissa]

for conta in sorted(contas):
    print(conta)

[>> Código -> 15 : Saldo R$500 <<]
[>> Código -> 20 : Saldo R$500 <<]
[>> Código -> 24 : Saldo R$500 <<]

In [118]:
conta_do_vitor < conta_da_giselle

False

In [120]:
# conta_do_vitor <= conta_da_giselle Não funciona sem ser implementado

In [121]:
from functools import total_ordering

@total_ordering
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>> Código -> {self._codigo} : Saldo R${self._saldo} <<]'

[>> Código -> 15 : Saldo R$500 <<]
[>> Código -> 20 : Saldo R$500 <<]
[>> Código -> 24 : Saldo R$500 <<]

In [123]:
conta_do_vitor <= conta_da_giselle # Agora com Total Ordering as outras comparações funcionam

False

In [124]:
conta_do_vitor < conta_do_vitor

False

In [125]:
conta_do_vitor > conta_do_vitor

False

In [126]:
conta_do_vitor == conta_do_vitor

True

In [127]:
conta_do_vitor <= conta_do_vitor

True